force-app/main/default/flows/Case_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Account_Contact_IDs</name>
        <label>Assign Account/Contact IDs</label>
        <locationX>457</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_to_Case</name>
        <label>Assign Customer to Case</label>
        <locationX>446</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Escalated_Date</name>
        <label>Assign Escalated Date</label>
        <locationX>1733</locationX>
        <locationY>4211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metric_Value</name>
        <label>Assign Metric Value</label>
        <locationX>1887</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.Full_Resolution_Time_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Solved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Resolution_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Customer_to_Case</name>
        <label>Assign Order Customer to Case</label>
        <locationX>1887</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Check_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Assigned_At</name>
        <label>Assign Value - Assigned At</label>
        <locationX>1887</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Owner_Check_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_Case_Opened_At</name>
        <label>Assign value - Case Opened At</label>
        <locationX>1887</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Opened_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_First_Resolution_Time_Minutes</name>
        <label>Assign Value - &quot;First Resolution Time - Minutes&quot;</label>
        <locationX>1887</locationX>
        <locationY>2603</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Resolution_Time_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Initially_Assigned_At</name>
        <label>Assign Value - Initially Assigned At</label>
        <locationX>600</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initially_Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Assigned_At</name>
        <label>Assign Value to &quot;Assigned At&quot;</label>
        <locationX>600</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Owner_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Initially_Assigned_At</name>
        <label>Assign Value to &quot;Initially Assigned At&quot;</label>
        <locationX>1887</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initially_Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_First_Resolution_Time_Minutes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccount_Fields_1</name>
        <label>Assign Account Fields</label>
        <locationX>1887</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Order_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Feedback_Picklists_NULL</name>
        <label>Feedback Picklists - NULL</label>
        <locationX>1887</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_SubReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalation_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onwer_Laura</name>
        <label>Onwer - Laura</label>
        <locationX>781</locationX>
        <locationY>5003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Cosori.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Elijah</name>
        <label>Owner - Elijah</label>
        <locationX>1309</locationX>
        <locationY>5003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Etekcity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Pauline</name>
        <label>Owner - Pauline</label>
        <locationX>253</locationX>
        <locationY>5003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Levoit.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Todd</name>
        <label>Owner - Todd</label>
        <locationX>1837</locationX>
        <locationY>5003</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_PawSync.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Requester_Assignment</name>
        <label>Requester Assignment</label>
        <locationX>721</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Escalated_Date_to_Today</name>
        <label>Set Escalated Date to Today</label>
        <locationX>600</locationX>
        <locationY>2987</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority</name>
        <label>Set Hight Priority</label>
        <locationX>1733</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Category_Change_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warranty_Picklists_NULL</name>
        <label>Warranty Picklists - NULL</label>
        <locationX>1887</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Main_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SubDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Hardware_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Property_Damage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Thermal_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feedback_Checkbox_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Check</name>
        <label>Account Check</label>
        <locationX>853</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Product_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requester Not Found</defaultConnectorLabel>
        <rules>
            <name>Requester_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requester_Assignment</targetReference>
            </connector>
            <label>Requester Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Active_Requester_Check</name>
        <label>Active Requester Check</label>
        <locationX>732</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Email_Check_for_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Requester on Case</defaultConnectorLabel>
        <rules>
            <name>Requester_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Contact_IDs</targetReference>
            </connector>
            <label>Requester on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Brand_Based_Assignment</name>
        <label>Brand Based Assignment</label>
        <locationX>1375</locationX>
        <locationY>4571</locationY>
        <defaultConnectorLabel>No Brand</defaultConnectorLabel>
        <rules>
            <name>Levoit_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Levoit_Escalation</targetReference>
            </connector>
            <label>Levoit Based</label>
        </rules>
        <rules>
            <name>Cosori_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosori_Escalation</targetReference>
            </connector>
            <label>Cosori Based</label>
        </rules>
        <rules>
            <name>Etekcity_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etekcity_Escalation</targetReference>
            </connector>
            <label>Etekcity Based</label>
        </rules>
        <rules>
            <name>PawSync_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PawSync_Escalation</targetReference>
            </connector>
            <label>PawSync Based</label>
        </rules>
    </decisions>
    <decisions>
        <name>ByPass_check</name>
        <label>ByPass check</label>
        <locationX>2002</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Bypass Required</defaultConnectorLabel>
        <rules>
            <name>Bypass_not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Decision</targetReference>
            </connector>
            <label>Bypass not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Opening_Check</name>
        <label>Case Opening Check</label>
        <locationX>2019</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Decision_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case not Opened</defaultConnectorLabel>
        <rules>
            <name>Case_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_Case_Opened_At</targetReference>
            </connector>
            <label>Case Opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Order_Check</name>
        <label>Case Order Check</label>
        <locationX>2019</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Product_Check_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Order Not Present</defaultConnectorLabel>
        <rules>
            <name>Case_Order_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__r.Customer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Customer_to_Case</targetReference>
            </connector>
            <label>Case Order Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Owner_Decision_Creation</name>
        <label>Case Owner Decision - Creation</label>
        <locationX>732</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Prior_Owner_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case owner is a group</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_is_not_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Assigned_At</targetReference>
            </connector>
            <label>Case Owner is not Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Owner_Decision_Updation</name>
        <label>Case Owner Decision - Updation</label>
        <locationX>2019</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Prior_Owner_Check_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case owner a group</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_not_Group</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Assigned_At</targetReference>
            </connector>
            <label>Case Owner not Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_First_Resolution_Time_Minutes</name>
        <label>Check for &quot;First Resolution Time - Minutes&quot;</label>
        <locationX>2019</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value Found</defaultConnectorLabel>
        <rules>
            <name>No_Prior_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.First_Resolution_Time_Minutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_First_Resolution_Time_Minutes</targetReference>
            </connector>
            <label>No Prior Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Main_Category</name>
        <label>Check Main Category</label>
        <locationX>1865</locationX>
        <locationY>3803</locationY>
        <defaultConnector>
            <targetReference>Main_Category_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Priority_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Priority Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority</targetReference>
            </connector>
            <label>High Priority Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Priority</name>
        <label>Check Priority</label>
        <locationX>732</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Escalated_Date_to_Today</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context_Decision</name>
        <label>Context Decision</label>
        <locationX>1375</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Requester_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is Updated</defaultConnectorLabel>
        <rules>
            <name>Record_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreationCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Requester_Check</targetReference>
            </connector>
            <label>Record is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Check_for_Case</name>
        <label>Email Check for Case</label>
        <locationX>1007</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Product_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email Present</defaultConnectorLabel>
        <rules>
            <name>Email_Present_on_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Email Present on Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Cosori</name>
        <label>Empty Check - Cosori</label>
        <locationX>913</locationX>
        <locationY>4895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Cosori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Cosori</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onwer_Laura</targetReference>
            </connector>
            <label>Representative Found - Cosori</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Etekcity</name>
        <label>Empty Check - Etekcity</label>
        <locationX>1441</locationX>
        <locationY>4895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Etekcity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Etekcity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Elijah</targetReference>
            </connector>
            <label>Representative Found - Etekcity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Levoit</name>
        <label>Empty Check - Levoit</label>
        <locationX>385</locationX>
        <locationY>4895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Levoit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Levoit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Pauline</targetReference>
            </connector>
            <label>Representative Found - Levoit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_PawSync</name>
        <label>Empty Check - PawSync</label>
        <locationX>1969</locationX>
        <locationY>4895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_PawSync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_PawSync</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Todd</targetReference>
            </connector>
            <label>Representative Found - PawSync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Check</name>
        <label>Escalation Check</label>
        <locationX>2019</locationX>
        <locationY>3695</locationY>
        <defaultConnectorLabel>Main Category - Other Value</defaultConnectorLabel>
        <rules>
            <name>Main_Category_High_Priority_Issue</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Priority Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Main_Category</targetReference>
            </connector>
            <label>Main Category - High Priority Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Feedback_Checkbox_Value</name>
        <label>Feedback Checkbox Value</label>
        <locationX>2019</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>Escalation_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set to True(Checked)</defaultConnectorLabel>
        <rules>
            <name>Set_to_False_Not_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provided_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Picklists_NULL</targetReference>
            </connector>
            <label>Set to False(Not Checked)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Category_Change_Check</name>
        <label>Main Category Change Check</label>
        <locationX>1865</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Main_Category_Is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalated_Date</targetReference>
            </connector>
            <label>Main Category Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Check</name>
        <label>Order Check</label>
        <locationX>732</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Check_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Not Present</defaultConnectorLabel>
        <rules>
            <name>Order_Present</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Customer_Check</targetReference>
            </connector>
            <label>Order Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Customer_Check</name>
        <label>Order Customer Check</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Check_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Record not Present</defaultConnectorLabel>
        <rules>
            <name>Customer_Record_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__r.Customer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_to_Case</targetReference>
            </connector>
            <label>Customer Record Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Owner_Check</name>
        <label>Prior Owner Check</label>
        <locationX>732</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Order_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value Present</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Initially_Assigned_At</targetReference>
            </connector>
            <label>Prior Owner - NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Owner_Check_Updation</name>
        <label>Prior Owner Check - Updation</label>
        <locationX>2019</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Check_for_First_Resolution_Time_Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value is Present</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Initially_Assigned_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Initially_Assigned_At</targetReference>
            </connector>
            <label>Prior Owner is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Check</name>
        <label>Product Check</label>
        <locationX>732</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Absent</defaultConnectorLabel>
        <rules>
            <name>Product_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Value_Check</targetReference>
            </connector>
            <label>Product Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Check_Update</name>
        <label>Product Check - Update</label>
        <locationX>2019</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Case_Opening_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Absent</defaultConnectorLabel>
        <rules>
            <name>Product_Populated_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Value_Check_Update</targetReference>
            </connector>
            <label>Product Populated - Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Value_Check</name>
        <label>Product Value Check</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Present</defaultConnectorLabel>
        <rules>
            <name>Brand_Product_Category_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Brand_Product_Category</targetReference>
            </connector>
            <label>Brand/Product Category Present</label>
        </rules>
        <rules>
            <name>Brand_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Brand</targetReference>
            </connector>
            <label>Brand Present</label>
        </rules>
        <rules>
            <name>Product_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Category</targetReference>
            </connector>
            <label>Product Category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Value_Check_Update</name>
        <label>Product Value Check - Update</label>
        <locationX>1733</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Case_Opening_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Present</defaultConnectorLabel>
        <rules>
            <name>Brand_Product_Category_Present_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Brand_Product_Category_Update</targetReference>
            </connector>
            <label>Brand/Product Category Present - Update</label>
        </rules>
        <rules>
            <name>Brand_Present_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Brand_Update</targetReference>
            </connector>
            <label>Brand Present - Update</label>
        </rules>
        <rules>
            <name>Product_Category_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product.Product_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Category_Update</targetReference>
            </connector>
            <label>Product Category - Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>2019</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Feedback_Checkbox_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Type - Warranty</defaultConnectorLabel>
        <rules>
            <name>Record_Type_NOT_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Picklists_NULL</targetReference>
            </connector>
            <label>Record Type NOT Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requester_Change_Check</name>
        <label>Requester Change Check</label>
        <locationX>2019</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Case_Order_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccount_Fields_1</targetReference>
            </connector>
            <label>IsChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>2019</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Status not Closed</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Metric_Value</targetReference>
            </connector>
            <label>Case Status - Closed</label>
        </rules>
    </decisions>
    <description>Manual Changes made on 4/12/2024</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Record.AccountId}</expression>
    </formulas>
    <formulas>
        <name>ByPassCheck</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Case_Before_Flow&apos;))</expression>
    </formulas>
    <formulas>
        <name>CreationCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FirstResolutionTime</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.CreatedDate}) * 1440</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateResolutionTime</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record__Prior.Resolution_Time__c}, 0) + (({!$Record.Solved_At__c} - {!$Record.Initially_Assigned_At__c}) * 24)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cosori_Escalation</name>
        <label>Cosori Escalation</label>
        <locationX>913</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Cosori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cosori</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Etekcity_Escalation</name>
        <label>Etekcity Escalation</label>
        <locationX>1441</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Etekcity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Etekcity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>853</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zendesk_Email__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Cosori</name>
        <label>Get Escalation Representative - Cosori</label>
        <locationX>913</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Cosori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cosori_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Etekcity</name>
        <label>Get Escalation Representative - Etekcity</label>
        <locationX>1441</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Etekcity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Etekcity_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Levoit</name>
        <label>Get Escalation Representative - Levoit</label>
        <locationX>385</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Levoit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Levoit_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_PawSync</name>
        <label>Get Escalation Representative - PawSync</label>
        <locationX>1969</locationX>
        <locationY>4787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_PawSync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PawSync_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Levoit_Escalation</name>
        <label>Levoit Escalation</label>
        <locationX>385</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Levoit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Levoit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PawSync_Escalation</name>
        <label>PawSync Escalation</label>
        <locationX>1969</locationX>
        <locationY>4679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_PawSync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PawSync</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Brand</name>
        <label>Update Brand</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>$Record.Product.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Brand_Product_Category</name>
        <label>Update Brand/Product Category</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>$Record.Product.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>$Record.Product.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Brand_Product_Category_Update</name>
        <label>Update Brand/Product Category - Update</label>
        <locationX>1337</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Case_Opening_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>$Record.Product.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>$Record.Product.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Brand_Update</name>
        <label>Update Brand - Update</label>
        <locationX>1601</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Case_Opening_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>$Record.Product.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Category</name>
        <label>Update Product Category</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>$Record.Product.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Category_Update</name>
        <label>Update Product Category - Update</label>
        <locationX>1865</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>Case_Opening_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>$Record.Product.Product_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1876</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass_check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegionCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
