force-app/main/default/flows/Case_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_on_Case_Creation_Default</name>
        <label>Email on Case Creation - Default</label>
        <locationX>1810</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_on_Case_Creation_English</name>
        <label>Email on Case Creation - English</label>
        <locationX>1370</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_on_Case_Creation_French</name>
        <label>Email on Case Creation - French</label>
        <locationX>842</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_French</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_on_Case_Creation_German</name>
        <label>Email on Case Creation - German</label>
        <locationX>314</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_German</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_on_Case_Creation_Italian</name>
        <label>Email on Case Creation - Italian</label>
        <locationX>1106</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Italian</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_on_Case_Creation_Spanish</name>
        <label>Email on Case Creation - Spanish</label>
        <locationX>578</locationX>
        <locationY>1763</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Spanish</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Manual_Case_Creation_Email</name>
        <label>Manual Case Creation Email</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Manual.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Manual</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_on_Case_Closure</name>
        <label>Send Survey on Case Closure</label>
        <locationX>2404</locationX>
        <locationY>1247</locationY>
        <actionName>sendSurveyInvitation</actionName>
        <actionType>sendSurveyInvitation</actionType>
        <connector>
            <targetReference>Update_Survey_Invitation_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>surveyName</name>
            <value>
                <stringValue>active_survey_vesync</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Embed_a_Survey_Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>sendSurveyInvitation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Org_Wide_Email_Cosori</name>
        <label>Org Wide Email - Cosori</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@cosori.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Org_Wide_Email_Etekcity</name>
        <label>Org Wide Email - Etekcity</label>
        <locationX>1062</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@etekcity.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Org_Wide_Email_Levoit</name>
        <label>Org Wide Email - Levoit</label>
        <locationX>534</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@levoit.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Org_Wide_Email_PawSync</name>
        <label>Org Wide Email - PawSync</label>
        <locationX>1326</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@pawsync.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Brand_Check</name>
        <label>Brand Check</label>
        <locationX>1062</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Origin_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand_Levoit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Wide_Email_Levoit</targetReference>
            </connector>
            <label>Brand - Levoit</label>
        </rules>
        <rules>
            <name>Brand_Cosori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Wide_Email_Cosori</targetReference>
            </connector>
            <label>Brand - Cosori</label>
        </rules>
        <rules>
            <name>Brand_Etekcity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Wide_Email_Etekcity</targetReference>
            </connector>
            <label>Brand - Etekcity</label>
        </rules>
        <rules>
            <name>Brand_PawSync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Wide_Email_PawSync</targetReference>
            </connector>
            <label>Brand - PawSync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Check</name>
        <label>Bypass Check</label>
        <locationX>2365</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Bypass Required</defaultConnectorLabel>
        <rules>
            <name>Bypass_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Check</targetReference>
            </connector>
            <label>Bypass Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Close_Check</name>
        <label>Case Close Check</label>
        <locationX>2536</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_Closed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.Survey_Invitation_Date__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwoWeeksAhead</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.Survey_Invitation_Date__pc</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_on_Case_Closure</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>1062</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_or_Web</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Case</targetReference>
            </connector>
            <label>Email or Web</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Check</name>
        <label>Country Check</label>
        <locationX>1062</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Email_on_Case_Creation_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_Case_Creation_German</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_Case_Creation_Spanish</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_Case_Creation_French</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_Case_Creation_Italian</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>United_Kingdoms_and_Northern_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom of Great Britain and Northern Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America,Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_Case_Creation_English</targetReference>
            </connector>
            <label>United Kingdoms and Northern America</label>
        </rules>
        <rules>
            <name>No_Recipients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Origin</targetReference>
            </connector>
            <label>No Recipients</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Check</name>
        <label>Creation Check</label>
        <locationX>1799</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is Updated</defaultConnectorLabel>
        <rules>
            <name>Record_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requester_Check</targetReference>
            </connector>
            <label>Record is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_PSR</name>
        <label>Null Check - PSR</label>
        <locationX>2382</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Case_Close_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PSR Resource NULL</defaultConnectorLabel>
        <rules>
            <name>PSR_Resource_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PSR_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSR</targetReference>
            </connector>
            <label>PSR Resource not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check</name>
        <label>Origin Check</label>
        <locationX>1062</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <rules>
            <name>Record_Manually_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.PersonContact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrgWideEmail_Manual</targetReference>
            </connector>
            <label>Record Manually Created</label>
        </rules>
        <rules>
            <name>Automation_Used</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.PersonContact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrgWideEmail_Automation</targetReference>
            </connector>
            <label>Automation Used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Changed</name>
        <label>Owner Changed</label>
        <locationX>2536</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Case_Close_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSR_Record</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requester_Check</name>
        <label>Requester Check</label>
        <locationX>1062</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Brand_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only Requester Present</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Present</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requester</targetReference>
            </connector>
            <label>Contact/Account Present</label>
        </rules>
        <rules>
            <name>Contact_Account_Not_Present</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Check</targetReference>
            </connector>
            <label>Contact/Account Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_Check</name>
        <label>Value Check</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Brand_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Key Fields Missing</defaultConnectorLabel>
        <rules>
            <name>Key_Fields_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Customer_Account</targetReference>
            </connector>
            <label>Key Fields Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BypassFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Case_Before_Flow&apos;))</expression>
    </formulas>
    <formulas>
        <name>Creation</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Current_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksAhead</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 14</expression>
    </formulas>
    <interviewLabel>Case After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Customer_Account</name>
        <label>Create a Customer Account</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Requester_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Person_Account_Record_Type_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_PSR</name>
        <label>Delete PSR</label>
        <locationX>2250</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Case_Close_Check</targetReference>
        </connector>
        <inputReference>Get_PSR_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_OrgWideEmail_Automation</name>
        <label>Get OrgWideEmail - Automation</label>
        <locationX>1062</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideEmail_Manual</name>
        <label>Get OrgWideEmail - Manual</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_Case_Creation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PSR_Record</name>
        <label>Get PSR Record</label>
        <locationX>2382</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Requester</name>
        <label>Assign Requester</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Brand_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requester_Field</name>
        <label>Update &quot;Requester&quot; Field</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Brand_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Create_a_Customer_Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_Time</name>
        <label>Update Survey Invitation Time</label>
        <locationX>2404</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Invitation_Date__pc</field>
            <value>
                <elementReference>Current_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>2239</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>930</locationX>
        <locationY>2147</locationY>
        <flowName>Case_Omnichannel_Routing</flowName>
        <inputAssignments>
            <name>Context</name>
            <value>
                <elementReference>Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
