force-app/main/default/flows/Case_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Email_on_Manual_Creation</name>
        <label>Customer Email on Manual Creation</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_OrgWideEmail_Address.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Manual</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Survey_on_Case_Closure</name>
        <label>Send Survey on Case Closure</label>
        <locationX>1260</locationX>
        <locationY>1247</locationY>
        <actionName>sendSurveyInvitation</actionName>
        <actionType>sendSurveyInvitation</actionType>
        <connector>
            <targetReference>Update_Survey_Invitation_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>surveyName</name>
            <value>
                <stringValue>vesync_survey_active</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateName</name>
            <value>
                <stringValue>Embed_a_Survey_Link</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>$Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>sendSurveyInvitation</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Cosori_OrgWide</name>
        <label>Cosori OrgWide</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@cosori.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrgWideEmail_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Etekcity_OrgWide</name>
        <label>Etekcity OrgWide</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@etekcity.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrgWideEmail_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Levoit_OrgWide</name>
        <label>Levoit OrgWide</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@levoit.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrgWideEmail_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PawSync_OrgWide</name>
        <label>PawSync OrgWide</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@pawsync.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrgWideEmail_Address</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_Check</name>
        <label>Bypass Check</label>
        <locationX>1353</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Bypass Required</defaultConnectorLabel>
        <rules>
            <name>Bypass_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Check</targetReference>
            </connector>
            <label>Bypass Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Close_Check</name>
        <label>Case Close Check</label>
        <locationX>1392</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Product_Changed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_Closed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.Survey_Invitation_Date__pc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TwoWeeksAhead</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.Survey_Invitation_Date__pc</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_on_Case_Closure</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>446</locationX>
        <locationY>2171</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_or_Web</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Case</targetReference>
            </connector>
            <label>Web</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Check</name>
        <label>Creation Check</label>
        <locationX>919</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is Updated</defaultConnectorLabel>
        <rules>
            <name>Record_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Acc_Record_Type</targetReference>
            </connector>
            <label>Record is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dialpad_Log</name>
        <label>Dialpad Log Check</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>OrgWideEmail_To_Be_Used</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dialpad Log Not Present</defaultConnectorLabel>
        <rules>
            <name>Dialpad_Log_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dialpad_record_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dialpad_Records</targetReference>
            </connector>
            <label>Dialpad Log Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_PSR</name>
        <label>Null Check - PSR</label>
        <locationX>1238</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Case_Close_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PSR Resource NULL</defaultConnectorLabel>
        <rules>
            <name>PSR_Resource_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PSR_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_PSR</targetReference>
            </connector>
            <label>PSR Resource not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrgWideEmail_To_Be_Used</name>
        <label>OrgWideEmail To Be Used</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Etekcity_OrgWide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Etekcity/Default</defaultConnectorLabel>
        <rules>
            <name>Levoit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Levoit_OrgWide</targetReference>
            </connector>
            <label>Levoit</label>
        </rules>
        <rules>
            <name>Cosori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosori_OrgWide</targetReference>
            </connector>
            <label>Cosori</label>
        </rules>
        <rules>
            <name>Pawsync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PawSync_OrgWide</targetReference>
            </connector>
            <label>Pawsync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check</name>
        <label>Origin Check</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Check_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Origin</defaultConnectorLabel>
        <rules>
            <name>Manual_Creation</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__r.Zendesk_Email__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Email_on_Manual_Creation</targetReference>
            </connector>
            <label>Manual Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Changed</name>
        <label>Owner Changed</label>
        <locationX>1392</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Case_Close_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSR_Record</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Changed_Decision</name>
        <label>Product Change Decision</label>
        <locationX>1392</locationX>
        <locationY>1547</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Case_Update</targetReference>
            </connector>
            <label>Product Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requester_Check</name>
        <label>Requester Check</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Dialpad_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <rules>
            <name>Web_Email_not_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Web Email not Matched</label>
        </rules>
    </decisions>
    <description>Latest Version with &quot;Email Message for Case&quot; Flow considered</description>
    <environments>Default</environments>
    <formulas>
        <name>BypassFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Case_Before_Flow&apos;))</expression>
    </formulas>
    <formulas>
        <name>Creation</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Current_Time</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksAhead</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 14</expression>
    </formulas>
    <interviewLabel>Case After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Requester</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Person_Acc_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_PSR</name>
        <label>Delete PSR</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Case_Close_Check</targetReference>
        </connector>
        <inputReference>Get_PSR_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requester_Check</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Acc_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zendesk_Email__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrgWideEmail_Address</name>
        <label>Get OrgWideEmail Address</label>
        <locationX>446</locationX>
        <locationY>1763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PSR_Record</name>
        <label>Get PSR Record</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_PSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Person_Acc_Record_Type</name>
        <label>Person Acc Record Type</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dialpad_Records</name>
        <label>Update Dialpad Records</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>OrgWideEmail_To_Be_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dialpad_record_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dialpad__RelatedObjectIds__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Dialpad__Call_Log__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requester</name>
        <label>Update Requester</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Dialpad_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_Time</name>
        <label>Update Survey Invitation Time</label>
        <locationX>1260</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Product_Changed_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Invitation_Date__pc</field>
            <value>
                <elementReference>Current_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>1227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_Case</name>
        <label>Route Case</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <flowName>Case_Omnichannel_Routing</flowName>
        <inputAssignments>
            <name>Context</name>
            <value>
                <elementReference>Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Route_Case_Update</name>
        <label>Route Case - Update</label>
        <locationX>1260</locationX>
        <locationY>1655</locationY>
        <flowName>Case_OmniChannel_Routing_Update</flowName>
        <inputAssignments>
            <name>Context</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
