force-app/main/default/flows/Case_Omnichannel_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Europe_Skill</name>
        <label>Assign Europe Skill</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;9dd1b6e5&quot;,&quot;skillId&quot;:&quot;0C5D200000005KKKAY&quot;,&quot;skillLabel&quot;:&quot;Europe&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_France_Skill</name>
        <label>Assign France Skill</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0b38cc43&quot;,&quot;skillId&quot;:&quot;0C5D200000005K5KAI&quot;,&quot;skillLabel&quot;:&quot;France&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Germany_Skill</name>
        <label>Assign Germany Skill</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;49d2c1ae&quot;,&quot;skillId&quot;:&quot;0C5D200000005JvKAI&quot;,&quot;skillLabel&quot;:&quot;Germany&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Italy_Skill</name>
        <label>Assign Italy Skill</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e50a6702&quot;,&quot;skillId&quot;:&quot;0C5D200000005KAKAY&quot;,&quot;skillLabel&quot;:&quot;Italy&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Japan_Skill</name>
        <label>Assign Japan Skill</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;55dc64b9&quot;,&quot;skillId&quot;:&quot;0C5D200000005KPKAY&quot;,&quot;skillLabel&quot;:&quot;Japan&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_North_America_Skill</name>
        <label>Assign North America Skill</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;789da1f1&quot;,&quot;skillId&quot;:&quot;0C5D200000005E5KAI&quot;,&quot;skillLabel&quot;:&quot;North America&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_Spain_Skill</name>
        <label>Assign Spain Skill</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2f1641fa&quot;,&quot;skillId&quot;:&quot;0C5D200000005K0KAI&quot;,&quot;skillLabel&quot;:&quot;Spain&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Assign_United_Kingdom_Skill</name>
        <label>Assign United Kingdom Skill</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;bcca68e6&quot;,&quot;skillId&quot;:&quot;0C5D200000005KFKAY&quot;,&quot;skillLabel&quot;:&quot;United Kingdom&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Cosori_Skill</name>
        <label>Cosori Skill</label>
        <locationX>2316</locationX>
        <locationY>842</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Case_to_agents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1dcaa022&quot;,&quot;skillId&quot;:&quot;0C5D200000005E2KAI&quot;,&quot;skillLabel&quot;:&quot;Cosori&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EtekCitySkill</name>
        <label>EtekCity Skill</label>
        <locationX>2580</locationX>
        <locationY>842</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Case_to_agents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1dcaa022&quot;,&quot;skillId&quot;:&quot;0C5D200000005E3KAI&quot;,&quot;skillLabel&quot;:&quot;Etekcity&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Levoit_Skill</name>
        <label>Levoit Skill</label>
        <locationX>2844</locationX>
        <locationY>842</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Case_to_agents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1dcaa022&quot;,&quot;skillId&quot;:&quot;0C5D200000005E4KAI&quot;,&quot;skillLabel&quot;:&quot;Levoit&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>North_America_Skill</name>
        <label>North America Skill</label>
        <locationX>3658</locationX>
        <locationY>350</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;789da1f1&quot;,&quot;skillId&quot;:&quot;0C5D200000005E5KAI&quot;,&quot;skillLabel&quot;:&quot;North America&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pawsync_Skill</name>
        <label>Pawsync Skill</label>
        <locationX>3108</locationX>
        <locationY>842</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Case_to_agents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1dcaa022&quot;,&quot;skillId&quot;:&quot;0C5D200000005E6KAI&quot;,&quot;skillLabel&quot;:&quot;Pawsync&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>recall_cosori_com_Skill</name>
        <label>recall@cosori.com Skill</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2ceba866&quot;,&quot;skillId&quot;:&quot;0C5D200000005KeKAI&quot;,&quot;skillLabel&quot;:&quot;recall@cosori.com&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>recall_vesync_com_SKill</name>
        <label>recall@vesync.com SKill</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5c216db0&quot;,&quot;skillId&quot;:&quot;0C5D200000005KoKAI&quot;,&quot;skillLabel&quot;:&quot;recall@vesync.com&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_Case_to_agents</name>
        <label>Route Case to agents</label>
        <locationX>2844</locationX>
        <locationY>1034</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Hu000000pAlGKAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>CaseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>CaseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9Hu000000p6nUKAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>cases_Routing_config</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>service_vesync_com_Skill</name>
        <label>service@vesync.com Skill</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;23a6bbb9&quot;,&quot;skillId&quot;:&quot;0C5D200000005KUKAY&quot;,&quot;skillLabel&quot;:&quot;service@vesync.com&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>support_eu_vesync_com_Skill</name>
        <label>support.eu@vesync.com Skill</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3a31fed6&quot;,&quot;skillId&quot;:&quot;0C5D200000005KjKAI&quot;,&quot;skillLabel&quot;:&quot;support.eu@vesync.com&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>support_vesync_com_Skill</name>
        <label>support@vesync.com Skill</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Check_Brand</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0e026569&quot;,&quot;skillId&quot;:&quot;0C5D200000005KZKAY&quot;,&quot;skillLabel&quot;:&quot;support@vesync.com&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Brand</name>
        <label>Check Brand</label>
        <locationX>2844</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cosori_Brand</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosori_Skill</targetReference>
            </connector>
            <label>Cosori Brand</label>
        </rules>
        <rules>
            <name>EtekCity_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EtekCitySkill</targetReference>
            </connector>
            <label>EtekCity Brand</label>
        </rules>
        <rules>
            <name>Levoit_Brand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Levoit_Skill</targetReference>
            </connector>
            <label>Levoit Brand</label>
        </rules>
        <rules>
            <name>PawSync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pawsync_Skill</targetReference>
            </connector>
            <label>PawSync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Origin</name>
        <label>Check Case Origin</label>
        <locationX>2844</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Origin_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Region_for_Routing</targetReference>
            </connector>
            <label>Origin = Email</label>
        </rules>
        <rules>
            <name>Origin_Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>North_America_Skill</targetReference>
            </connector>
            <label>Origin = Web</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Region_for_Routing</name>
        <label>Check Region for Routing</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_Brand</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Defualt</defaultConnectorLabel>
        <rules>
            <name>North_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@pawsync.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>usa@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_North_America_Skill</targetReference>
            </connector>
            <label>North America</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.de@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.de@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.de@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Germany_Skill</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.es@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.es@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.es@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spain_Skill</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.fr@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.fr@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.fr@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_France_Skill</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.it@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.it@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.it@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Italy_Skill</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.uk@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.uk@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.uk@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Support_Email_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>europe@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_United_Kingdom_Skill</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Japan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.jp@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.jp@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.jp@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.jp@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>service.jp@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rakutenshop@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Japan_Skill</targetReference>
            </connector>
            <label>Japan</label>
        </rules>
        <rules>
            <name>Europe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.eu@levoit.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.eu@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.eu@etekcity.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Europe_Skill</targetReference>
            </connector>
            <label>Europe</label>
        </rules>
        <rules>
            <name>service_vesync_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>service@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>service_vesync_com_Skill</targetReference>
            </connector>
            <label>service@vesync.com</label>
        </rules>
        <rules>
            <name>support_vesync_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>support_vesync_com_Skill</targetReference>
            </connector>
            <label>support@vesync.com</label>
        </rules>
        <rules>
            <name>recall_cosori_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>recall@cosori.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recall_cosori_com_Skill</targetReference>
            </connector>
            <label>recall@cosori.com</label>
        </rules>
        <rules>
            <name>support_eu_vesync_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support.eu@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>support_eu_vesync_com_Skill</targetReference>
            </connector>
            <label>support.eu@vesync.com</label>
        </rules>
        <rules>
            <name>recall_vesync_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record_Details.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>recall@vesync.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recall_vesync_com_SKill</targetReference>
            </connector>
            <label>recall@vesync.com</label>
        </rules>
    </decisions>
    <description>New Version</description>
    <environments>Default</environments>
    <interviewLabel>Omnichannel - Case Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Omnichannel Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Get_Case_Record_Details</name>
        <label>Get Case Record Details</label>
        <locationX>2844</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>2718</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Context</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
</Flow>
