force-app/main/default/flows/Case_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Cosori_as_Brand</name>
        <label>Assign Cosori as Brand</label>
        <locationX>413</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cosori</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_to_Case</name>
        <label>Assign Customer to Case</label>
        <locationX>391</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Escalated_Date</name>
        <label>Assign Escalated Date</label>
        <locationX>1381</locationX>
        <locationY>3719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Etaekcity_as_Brand</name>
        <label>Assign Etaekcity as Brand</label>
        <locationX>677</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etekcity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Levoit_as_Brand</name>
        <label>Assign Levoit as Brand</label>
        <locationX>149</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Levoit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metric_Value</name>
        <label>Assign Metric Value</label>
        <locationX>1535</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Full_Resolution_Time_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Solved_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Resolution_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Customer_to_Case</name>
        <label>Assign Order Customer to Case</label>
        <locationX>1535</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__r.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Opening_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PawSync_as_Brand</name>
        <label>Assign PawSync as Brand</label>
        <locationX>941</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>$Record.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PawSync</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Region_Country_to_Case</name>
        <label>Assign Region, Country to Case</label>
        <locationX>545</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Metadata_Fetch.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Check_for_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Assigned_At</name>
        <label>Assign Value - Assigned At</label>
        <locationX>1535</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Owner_Check_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_Case_Opened_At</name>
        <label>Assign value - Case Opened At</label>
        <locationX>1535</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Opened_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Owner_Decision_Updation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_First_Resolution_Time_Minutes</name>
        <label>Assign Value - &quot;First Resolution Time - Minutes&quot;</label>
        <locationX>1535</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Resolution_Time_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstResolutionTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Initially_Assigned_At</name>
        <label>Assign Value - Initially Assigned At</label>
        <locationX>545</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initially_Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Assigned_At</name>
        <label>Assign Value to &quot;Assigned At&quot;</label>
        <locationX>545</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Owner_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Initially_Assigned_At</name>
        <label>Assign Value to &quot;Initially Assigned At&quot;</label>
        <locationX>1535</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initially_Assigned_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_First_Resolution_Time_Minutes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccount_Fields</name>
        <label>Assign Account Fields</label>
        <locationX>545</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Origin_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccount_Fields_1</name>
        <label>Assign Account Fields</label>
        <locationX>1535</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requester__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Order_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Feedback_Picklists_NULL</name>
        <label>Feedback Picklists - NULL</label>
        <locationX>1535</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_SubReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Feedback_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalation_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Onwer_Laura</name>
        <label>Onwer - Laura</label>
        <locationX>578</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Cosori.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Elijah</name>
        <label>Owner - Elijah</label>
        <locationX>1106</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Etekcity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Pauline</name>
        <label>Owner - Pauline</label>
        <locationX>50</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_Levoit.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Owner_Todd</name>
        <label>Owner - Todd</label>
        <locationX>1634</locationX>
        <locationY>4511</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Escalation_Representative_PawSync.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Requester_Assignment</name>
        <label>Requester Assignment</label>
        <locationX>545</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sync_Requestor_With_Default_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Escalated_Date_to_Today</name>
        <label>Set Escalated Date to Today</label>
        <locationX>545</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>$Record.Escalated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority</name>
        <label>Set Hight Priority</label>
        <locationX>1381</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Priority</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Main_Category_Change_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Warranty_Picklists_NULL</name>
        <label>Warranty Picklists - NULL</label>
        <locationX>1535</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Main_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SubDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Injury__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Hardware_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Property_Damage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Alleged_Thermal_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Feedback_Checkbox_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Brand_Based_Assignment</name>
        <label>Brand Based Assignment</label>
        <locationX>1172</locationX>
        <locationY>4079</locationY>
        <defaultConnectorLabel>No Brand</defaultConnectorLabel>
        <rules>
            <name>Levoit_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Levoit_Escalation</targetReference>
            </connector>
            <label>Levoit Based</label>
        </rules>
        <rules>
            <name>Cosori_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosori_Escalation</targetReference>
            </connector>
            <label>Cosori Based</label>
        </rules>
        <rules>
            <name>Etekcity_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etekcity_Escalation</targetReference>
            </connector>
            <label>Etekcity Based</label>
        </rules>
        <rules>
            <name>PawSync_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PawSync_Escalation</targetReference>
            </connector>
            <label>PawSync Based</label>
        </rules>
    </decisions>
    <decisions>
        <name>Brand_Check_for_Case</name>
        <label>Brand Check for Case</label>
        <locationX>677</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Decision_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Levoit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>levoit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Levoit_as_Brand</targetReference>
            </connector>
            <label>Levoit</label>
        </rules>
        <rules>
            <name>Cosori</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cosori</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cosori_as_Brand</targetReference>
            </connector>
            <label>Cosori</label>
        </rules>
        <rules>
            <name>Etekcity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>etekcity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Etaekcity_as_Brand</targetReference>
            </connector>
            <label>Etekcity</label>
        </rules>
        <rules>
            <name>Pawsync</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pawsync</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pawsync</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vesync</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vesync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PawSync_as_Brand</targetReference>
            </connector>
            <label>Pawsync</label>
        </rules>
    </decisions>
    <decisions>
        <name>ByPass_check</name>
        <label>ByPass check</label>
        <locationX>1799</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Bypass Required</defaultConnectorLabel>
        <rules>
            <name>Bypass_not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ByPassCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Context_Decision</targetReference>
            </connector>
            <label>Bypass not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Opening_Check</name>
        <label>Case Opening Check</label>
        <locationX>1667</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_Decision_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case not Opened</defaultConnectorLabel>
        <rules>
            <name>Case_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_Case_Opened_At</targetReference>
            </connector>
            <label>Case Opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Order_Check</name>
        <label>Case Order Check</label>
        <locationX>1667</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Case_Opening_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Order Not Present</defaultConnectorLabel>
        <rules>
            <name>Case_Order_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__r.Customer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Customer_to_Case</targetReference>
            </connector>
            <label>Case Order Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Origin_Check</name>
        <label>Case Origin Check</label>
        <locationX>677</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Brand_Check_for_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Source</defaultConnectorLabel>
        <rules>
            <name>Case_from_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Metadata_Fetch</targetReference>
            </connector>
            <label>Case from Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Owner_Decision_Creation</name>
        <label>Case Owner Decision - Creation</label>
        <locationX>677</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Prior_Owner_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case owner is a group</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_is_not_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Assigned_At</targetReference>
            </connector>
            <label>Case Owner is not Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Owner_Decision_Updation</name>
        <label>Case Owner Decision - Updation</label>
        <locationX>1667</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Prior_Owner_Check_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case owner a group</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_not_Group</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Assigned_At</targetReference>
            </connector>
            <label>Case Owner not Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_First_Resolution_Time_Minutes</name>
        <label>Check for &quot;First Resolution Time - Minutes&quot;</label>
        <locationX>1667</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value Found</defaultConnectorLabel>
        <rules>
            <name>No_Prior_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.First_Resolution_Time_Minutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_First_Resolution_Time_Minutes</targetReference>
            </connector>
            <label>No Prior Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Main_Category</name>
        <label>Check Main Category</label>
        <locationX>1513</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>Main_Category_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Priority_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Priority Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority</targetReference>
            </connector>
            <label>High Priority Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Priority</name>
        <label>Check Priority</label>
        <locationX>677</locationX>
        <locationY>2903</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Escalated_Date_to_Today</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>677</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Sync_Requestor_With_Default_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact/Account Absent</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requester_Assignment</targetReference>
            </connector>
            <label>Contact/Account Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Context_Decision</name>
        <label>Context Decision</label>
        <locationX>1172</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Requester_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is Updated</defaultConnectorLabel>
        <rules>
            <name>Record_is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreationCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Check</targetReference>
            </connector>
            <label>Record is Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Cosori</name>
        <label>Empty Check - Cosori</label>
        <locationX>710</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Cosori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Cosori</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onwer_Laura</targetReference>
            </connector>
            <label>Representative Found - Cosori</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Etekcity</name>
        <label>Empty Check - Etekcity</label>
        <locationX>1238</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Etekcity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Etekcity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Elijah</targetReference>
            </connector>
            <label>Representative Found - Etekcity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_Levoit</name>
        <label>Empty Check - Levoit</label>
        <locationX>182</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_Levoit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_Levoit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Pauline</targetReference>
            </connector>
            <label>Representative Found - Levoit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empty_Check_PawSync</name>
        <label>Empty Check - PawSync</label>
        <locationX>1766</locationX>
        <locationY>4403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Representative_Found_PawSync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Escalation_Representative_PawSync</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Todd</targetReference>
            </connector>
            <label>Representative Found - PawSync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_Check</name>
        <label>Escalation Check</label>
        <locationX>1667</locationX>
        <locationY>3203</locationY>
        <defaultConnectorLabel>Main Category - Other Value</defaultConnectorLabel>
        <rules>
            <name>Main_Category_High_Priority_Issue</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Priority Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Main_Category</targetReference>
            </connector>
            <label>Main Category - High Priority Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Feedback_Checkbox_Value</name>
        <label>Feedback Checkbox Value</label>
        <locationX>1667</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Escalation_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set to True(Checked)</defaultConnectorLabel>
        <rules>
            <name>Set_to_False_Not_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provided_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Picklists_NULL</targetReference>
            </connector>
            <label>Set to False(Not Checked)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_Category_Change_Check</name>
        <label>Main Category Change Check</label>
        <locationX>1513</locationX>
        <locationY>3611</locationY>
        <defaultConnector>
            <targetReference>Brand_Based_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Main_Category_Is_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Escalated_Date</targetReference>
            </connector>
            <label>Main Category Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Check</name>
        <label>Order Check</label>
        <locationX>677</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Check_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Not Present</defaultConnectorLabel>
        <rules>
            <name>Order_Present</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Customer_Check</targetReference>
            </connector>
            <label>Order Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Customer_Check</name>
        <label>Order Customer Check</label>
        <locationX>523</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Check_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Record not Present</defaultConnectorLabel>
        <rules>
            <name>Customer_Record_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order__r.Customer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_to_Case</targetReference>
            </connector>
            <label>Customer Record Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Owner_Check</name>
        <label>Prior Owner Check</label>
        <locationX>677</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Order_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value Present</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Initially_Assigned_At</targetReference>
            </connector>
            <label>Prior Owner - NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Owner_Check_Updation</name>
        <label>Prior Owner Check - Updation</label>
        <locationX>1667</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_for_First_Resolution_Time_Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prior Value is Present</defaultConnectorLabel>
        <rules>
            <name>Prior_Owner_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Initially_Assigned_At__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_Initially_Assigned_At</targetReference>
            </connector>
            <label>Prior Owner is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>1667</locationX>
        <locationY>2603</locationY>
        <defaultConnector>
            <targetReference>Feedback_Checkbox_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Type - Warranty</defaultConnectorLabel>
        <rules>
            <name>Record_Type_NOT_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Warranty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Picklists_NULL</targetReference>
            </connector>
            <label>Record Type NOT Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requester_Change_Check</name>
        <label>Requester Change Check</label>
        <locationX>1667</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Case_Order_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requester__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccount_Fields_1</targetReference>
            </connector>
            <label>IsChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>1667</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Status not Closed</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Metric_Value</targetReference>
            </connector>
            <label>Case Status - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_Requestor_With_Default_Fields</name>
        <label>Sync Requestor With Default Fields</label>
        <locationX>677</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Case_Origin_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_and_Account_Fields_are_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccount_Fields</targetReference>
            </connector>
            <label>Contact and Account Fields are Blank</label>
        </rules>
    </decisions>
    <description>Manual Changes made on 14/11/2024

Changes made for the Case Escalation Process</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>{!$Record.AccountId}</expression>
    </formulas>
    <formulas>
        <name>ByPassCheck</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Case_Before_Flow&apos;))</expression>
    </formulas>
    <formulas>
        <name>CreationCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FirstResolutionTime</name>
        <dataType>Number</dataType>
        <expression>(NOW() - {!$Record.CreatedDate}) * 1440</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateResolutionTime</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record__Prior.Resolution_Time__c}, 0) + (({!$Record.Solved_At__c} - {!$Record.Initially_Assigned_At__c}) * 24)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cosori_Escalation</name>
        <label>Cosori Escalation</label>
        <locationX>710</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Cosori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cosori</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Metadata_Fetch</name>
        <label>Custom Metadata Fetch</label>
        <locationX>545</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Region_Country_to_Case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source:EmailMessage.ToAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Etekcity_Escalation</name>
        <label>Etekcity Escalation</label>
        <locationX>1238</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Etekcity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Etekcity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Cosori</name>
        <label>Get Escalation Representative - Cosori</label>
        <locationX>710</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Cosori</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cosori_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Etekcity</name>
        <label>Get Escalation Representative - Etekcity</label>
        <locationX>1238</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Etekcity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Etekcity_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_Levoit</name>
        <label>Get Escalation Representative - Levoit</label>
        <locationX>182</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_Levoit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Levoit_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Representative_PawSync</name>
        <label>Get Escalation Representative - PawSync</label>
        <locationX>1766</locationX>
        <locationY>4295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Check_PawSync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PawSync_Escalation.Escalation_Representative__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Levoit_Escalation</name>
        <label>Levoit Escalation</label>
        <locationX>182</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_Levoit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Levoit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PawSync_Escalation</name>
        <label>PawSync Escalation</label>
        <locationX>1766</locationX>
        <locationY>4187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Escalation_Representative_PawSync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PawSync</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Escalation_Matrix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass_check</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RegionCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
