force-app/main/default/flows/Email_Messages_for_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Case_Creation</name>
        <label>Email to Case Creation - English</label>
        <locationX>1106</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Creation_Default</name>
        <label>Email to Case Creation - Default</label>
        <locationX>1634</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_English</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Creation_France</name>
        <label>Email to Case Creation - France</label>
        <locationX>578</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_French</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Creation_Germany</name>
        <label>Email to Case Creation - Germany</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_German</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Creation_Italy</name>
        <label>Email to Case Creation - Italy</label>
        <locationX>842</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Italian</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Creation_Spain</name>
        <label>Email to Case Creation - Spain</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_orgWideEmail_Automation.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Case_Record.Requester__r.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>$Label.Email_Template_ID_Spanish</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Case_Record_Values</name>
        <label>Assign Case Record Values</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>caserecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Country</name>
        <label>Case Country</label>
        <locationX>1370</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Metadata_Fetch.Country__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Brand_Check_For_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrgWide_Email_Levoit</name>
        <label>OrgWide Email - Levoit</label>
        <locationX>974</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@levoit.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrgWideEmail_Cosori</name>
        <label>OrgWideEmail - Cosori</label>
        <locationX>1238</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@cosori.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrgWideEmail_Etekcity</name>
        <label>OrgWideEmail - Etekcity</label>
        <locationX>1766</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@etekcity.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrgWideEmail_pawSync</name>
        <label>OrgWideEmail - pawSync</label>
        <locationX>1502</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>OrgWideEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>support@pawsync.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Cosori</name>
        <label>Set Brand - Cosori</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cosori</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_Wide_Email_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Etekcity</name>
        <label>Set Brand - Etekcity</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etekcity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_Wide_Email_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Levoit</name>
        <label>Set Brand - Levoit</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Levoit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_Wide_Email_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_pawSync</name>
        <label>Set Brand - pawSync</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PawSync</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Org_Wide_Email_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_ID</name>
        <label>Set Case ID</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Inbound_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inbound_Count</name>
        <label>Set Inbound Count</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>caserecord.Inbound_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Metadata_Fetch</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Brand_Check_For_Case</name>
        <label>Brand Check For Case</label>
        <locationX>1370</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Org_Wide_Email_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Specified</defaultConnectorLabel>
        <rules>
            <name>Levoit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Levoit</targetReference>
            </connector>
            <label>Levoit</label>
        </rules>
        <rules>
            <name>Cosori</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Cosori</targetReference>
            </connector>
            <label>Cosori</label>
        </rules>
        <rules>
            <name>Etekcity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>etekcity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Etekcity</targetReference>
            </connector>
            <label>Etekcity</label>
        </rules>
        <rules>
            <name>Pawsync</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pawsync</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>vesync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_pawSync</targetReference>
            </connector>
            <label>Pawsync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Check</name>
        <label>Bypass Check</label>
        <locationX>2096</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Bypass Required</defaultConnectorLabel>
        <rules>
            <name>Bypass_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Record</targetReference>
            </connector>
            <label>Bypass Not Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Inbound_Count</name>
        <label>Check Inbound Count</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Inbound Count &gt; 1</defaultConnectorLabel>
        <rules>
            <name>Inbound_Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Inbound_Count__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Record_Values</targetReference>
            </connector>
            <label>Inbound Count &lt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Check</name>
        <label>Country Check</label>
        <locationX>842</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Email_to_Case_Creation_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Countries</defaultConnectorLabel>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Creation_Germany</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Creation_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Creation_France</targetReference>
            </connector>
            <label>France</label>
        </rules>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Italy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Creation_Italy</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>United_Kingdoms_and_Northern_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom of Great Britain and Northern Ireland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caserecord.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States of America,Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Creation</targetReference>
            </connector>
            <label>United Kingdoms and Northern America</label>
        </rules>
        <rules>
            <name>No_Recipients</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caserecord.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caserecord.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <label>No Recipients</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_Wide_Email_Assignment</name>
        <label>Org Wide Email Assignment</label>
        <locationX>1370</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>OrgWideEmail_Etekcity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default/Etekcity Support</defaultConnectorLabel>
        <rules>
            <name>Levoit_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Levoit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrgWide_Email_Levoit</targetReference>
            </connector>
            <label>Levoit Support</label>
        </rules>
        <rules>
            <name>Cosori_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosori</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrgWideEmail_Cosori</targetReference>
            </connector>
            <label>Cosori Support</label>
        </rules>
        <rules>
            <name>Pawsync_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PawSync</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrgWideEmail_pawSync</targetReference>
            </connector>
            <label>Pawsync Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origin_Check</name>
        <label>Origin Check</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_Used</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record.Requester__r.PersonContact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_orgWideEmail_Automation</targetReference>
            </connector>
            <label>Automation Used</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Email_Messages_for_Case&apos;))</expression>
    </formulas>
    <interviewLabel>Email Messages for Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Messages for Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case_Record</name>
        <label>Case Record</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Inbound_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Metadata_Fetch</name>
        <label>Custom Metadata Fetch</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Email_mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_orgWideEmail_Automation</name>
        <label>Get orgWideEmail - Automation</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Country_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgWideEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Origin_Check</targetReference>
        </connector>
        <inputReference>caserecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Check</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caserecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InboundCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
