force-app/main/default/flows/Survey_Invitation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Additional_Feedback</name>
        <label>Assign Additional Feedback</label>
        <locationX>930</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Additional_Feedback_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Question_Responses.ResponseValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Likely_to_Recommend</name>
        <label>Assign Likely to Recommend</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Likely_To_Recommend_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Question_Responses.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Overall_Satisfaction</name>
        <label>Assign Overall Satisfaction</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Overall_Satisfaction_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Question_Responses.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_Responses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Efficiency</name>
        <label>Assign Service Efficiency</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>Service_Efficiency_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Question_Responses.NumberValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_Check</name>
        <label>Bypass Check</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Bypass Needed</defaultConnectorLabel>
        <rules>
            <name>Bypass_Not_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BypassFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Subject</targetReference>
            </connector>
            <label>Bypass Not Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Empty_Response</name>
        <label>Check for Empty Response</label>
        <locationX>1018</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Response Empty</defaultConnectorLabel>
        <rules>
            <name>Response_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question_Responses.ResponseValue</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_Check</targetReference>
            </connector>
            <label>Response not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_Check</name>
        <label>Question Check</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Question not in Survey</defaultConnectorLabel>
        <rules>
            <name>Overall_Satisfaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question_Responses.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overall, how satisfied are you with the service that you were provided?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Overall_Satisfaction</targetReference>
            </connector>
            <label>Overall Satisfaction</label>
        </rules>
        <rules>
            <name>Service_Efficiency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question_Responses.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>How easy was it to get support from the customer service team?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Efficiency</targetReference>
            </connector>
            <label>Service Efficiency</label>
        </rules>
        <rules>
            <name>Likely_To_Recommend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question_Responses.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Based on the recent support you received from us, how likely are you to recommend our business to a friend or colleague?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Likely_to_Recommend</targetReference>
            </connector>
            <label>Likely To Recommend</label>
        </rules>
        <rules>
            <name>Additional_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question_Responses.Question.QuestionName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Can you share more details about the scores you provided us?</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Feedback</targetReference>
            </connector>
            <label>Additional Feedback</label>
        </rules>
    </decisions>
    <description>Changes made according to the new flow provided by nathan</description>
    <environments>Default</environments>
    <formulas>
        <name>BypassFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR({!$Setup.VeSync_Bypass_Setting__c.Bypass_All_Automations__c} ,REGEX({!$Setup.VeSync_Bypass_Setting__c.Bypass_Object_Automations__c}, &apos;.*\\bCase\\b.*&apos;) ,CONTAINS({!$Setup.VeSync_Bypass_Setting__c.Bypass_Flows__c}, &apos;Survey_Invitation&apos;))</expression>
    </formulas>
    <interviewLabel>Survey Invitation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Invitation</label>
    <loops>
        <name>Loop_Question_Responses</name>
        <label>Loop Question Responses</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Survey_Question_Response</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Empty_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Case_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Question_Response</name>
        <label>Get Survey Question Response</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Question_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Survey_Subject</name>
        <label>Get Survey Subject</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Survey_Question_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubjectEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveySubject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Case_Record</name>
        <label>Update Related Case Record</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Subject.SubjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Additional_Feedback__c</field>
            <value>
                <elementReference>Additional_Feedback_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Likely_to_Recommend__c</field>
            <value>
                <elementReference>Likely_To_Recommend_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Satisfaction__c</field>
            <value>
                <elementReference>Overall_Satisfaction_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Efficiency__c</field>
            <value>
                <elementReference>Service_Efficiency_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Rating__c</field>
            <value>
                <elementReference>Service_Request_Rating_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Invitation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Additional_Feedback_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Likely_To_Recommend_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Overall_Satisfaction_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Service_Efficiency_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Service_Request_Rating_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
